nav {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
}

@media (max-width:666px) {
    nav {
        top: 102px;
    }
}

.nav_sticky {
    position: fixed;
    top: 0;
    left: 0;
    animation: animateNav .5s;
    -webkit-animation: animateNav .5s;
}

@keyframes animateNav {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

.nav_sticky .sticky_padding {
    padding: 20px 0;
    box-shadow: 0 0 5px 3px #3634343d;
}

.memu ul li a.active::after {
    left: 0;
}